   * {
    margin: 0;
    padding: 0;
   }
    
   header {
    
    }
    
   nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
   #header-img {
    float: left;
    }
    
   h1 {
    display: flex;
    justify-content: center;
    margin: 3rem;
    }
    
   a {
    text-decoration: none;
    }
    
   ul {
    list-style: none;
    }
    
   li {
    display: inline-block;
    margin: 2rem;
    }
    
   #search {
    margin-right: 2rem;
    }
    
   section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
   h2 {
    margin-bottom: 1rem;
    }
    
   #newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    }
    
   .priceCard {
    height: 200px;
    width: 200px;
    margin: 4em;
    font-size: 1.3em;
    background-color: powderblue;
    text-align: center;
    border-radius: .5em;
    }
    
   .priceCard button {
    margin-top: 1em;
    padding: 5px 10px;
    }
   
